<!DOCTYPE html>
<html>
<head>
  <title>The Best Innovations - By Exotic Group</title>
  <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Raleway:100,500,600,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" type="text/css" rel="stylesheet" >
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

    <div class="header">
      <h1>The Energy Saver LED by Nature Group</h1>
    </div>

    <div class="LED">
      <div class="LED-img">
        <img src="/home/delhivery/support/support/Innovations/images/led.jpg" width="250px">
      </div>
      <div class="LED-description">
        <ul>
          <li>
            <h2>Energy Saving LED</h2>
          </li>
          <li>
            <h3>60/pcs</h3>
          </li>
          <li>
            <p>Today's energy-efficient bulbs are available in the wide range of colors and light levels you've come to expect. While the initial price of energy-efficient bulbs is typically higher than traditional incandescents, newer bulbs cost less to operate, saving you money over the life of the bulb. Many of the newer bulbs last significantly longer than traditional bulbs, so you won't need to replace them as often.</p>
          </li>
        </ul>
      </div>
      <div class="buy">
        <a href="led.html" target="_blank">Buy Now</a>
      </div>
    </div>

</body>
</html>
