body {
  padding: 0;
  margin: 0;
  background-color: #1E1E24;
  text-align: center;
}

.buy-led {
  background-image: url("/home/delhivery/support/support/Innovations/images/led1.jpg");
  height: 400px;
  background-position: bottom center;
}
